<%- include("partial/header") -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<%- include("partial/footer") -%>

<% posts.forEach(post => {
  console.log(post.title);
  console.log(post.body);
}); %>
